
body {

	font-family: sans-serif;
	
	}

#shape {
	
	width: 200px; 
	height: 200px;
	background-color: red;
	display: none; /* hide display on page load */
	position: relative;
			
	}

.bold {

	font-weight: bold;
	
	}
	
	